<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/admin">
            <img style="width: 20px;" src="../../boardMain/vendors/images/PersonalNutri.png" alt="" class="dark-logo">
            <img style="height: 50px; width: 200px;"  src="../../boardMain/vendors/images/PersonalNutri.png" alt="" class="light-logo">
             <!-- PersonalNutri -->
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user-3"></span><span class="mtext">Treinadores</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-personal">Criar treinador</a></li>
                        <li><a href="/admin/list-personal">Listar treinadores</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user-3"></span><span class="mtext">Alunos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-aluno">Criar aluno</a></li>
                        <li><a href="/admin/list-alunos">Listar alunos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        
                        <span class="micon dw dw-sprout-1"></span><span class="mtext">Nutricionistas</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-nutri">Criar nutricionista</a></li>
                        <li><a href="/admin/list-nutri">Listar nutricionistas</a></li>    
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user-3"></span><span class="mtext">Pacientes</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-paciente">Criar paciente</a></li>
                        <li><a href="/admin/list-paciente">Listar pacientes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-cutlery"></span><span class="mtext">Alimentos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-alimento">Criar alimento</a></li>
                        <li><a href="/admin/list-alimentos">Listar alimentos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-workflow"></span><span class="mtext">Suplementos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-suplemento">Criar suplemento</a></li>
                        <li><a href="/admin/list-suplementos">Listar suplementos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-syringe"></span><span class="mtext">Ergogenicos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-ergogenico">Criar ergogenico</a></li>
                        <li><a href="/admin/list-ergogenico">Listar ergogenicos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-dumbbell"></span><span class="mtext">Exercicios</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-exercicio">Criar exercicio</a></li>
                        <li><a href="/admin/list-exercicios">Listar exercicios</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-windmill"></span><span class="mtext">GP muscular</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-gpmuscular">Criar grupamento muscular</a></li>
                        <li><a href="/admin/list-gpmuscular">Listar grupamentos musculares</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-expand-1"></span><span class="mtext">Treino</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-treino">Criar treino</a></li>
                        <li><a href="/admin/list-treinos">Listar treinos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-harvest"></span><span class="mtext">Dieta</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-dieta">Criar dieta</a></li>
                        <li><a href="/admin/list-dietas">Listar dietas</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-dumbbell"></span><span class="mtext">Protocolo</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-protocolo">Criar Protocolo</a></li>
                        <li><a href="/admin/list-protocolos">Listar Protocolos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>