<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/admin">
            <!-- <img src="../../dashBoard/vendors/images/deskapp-logo.svg" alt="" class="dark-logo"> -->
            <!-- <img src="../../dashBoard/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo"> -->
             PersonalNutri
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user-3"></span><span class="mtext">Treinadores</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-personal">Criar treinador</a></li>
                        <li><a href="/admin/list-personal">Listar treinadores</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        
                        <span class="micon dw dw-sprout-1"></span><span class="mtext">Nutricionistas</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/admin/create-nutri">Criar nutricionista</a></li>
                        <li><a href="/admin/list-nutri">Listar nutricionistas</a></li>    
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-cutlery"></span><span class="mtext">Alimentos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="basic-table.html">Criar alimento</a></li>
                        <li><a href="datatable.html">Listar alimentos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-workflow"></span><span class="mtext">Suplementos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="basic-table.html">Criar suplemento</a></li>
                        <li><a href="datatable.html">Listar suplementos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-syringe"></span><span class="mtext">Ergogenicos</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="basic-table.html">Criar ergogenico</a></li>
                        <li><a href="datatable.html">Listar ergogenicos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-dumbbell"></span><span class="mtext">Exercicios</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="basic-table.html">Criar exercicio</a></li>
                        <li><a href="datatable.html">Listar exercicios</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-windmill"></span><span class="mtext">GP muscular</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="basic-table.html">Criar grupamento muscular</a></li>
                        <li><a href="datatable.html">Listar grupamentos musculares</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-expand-1"></span><span class="mtext">Treino</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="basic-table.html">Criar treino</a></li>
                        <li><a href="datatable.html">Listar treinos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-harvest"></span><span class="mtext">Dieta</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="basic-table.html">Criar dieta</a></li>
                        <li><a href="datatable.html">Listar dietas</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>